<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Dicionário em-linha de Português</title>
    <meta name="description" content="Dicionário em-linha de Português">
    <meta name="keywords" content="dicionário, Português">
</head>
<body>

    {{{body}}}

</body>
</html>
