<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Dicionário em-linha de Português</title>
    <meta name="description" content="Dicionário em-linha de Português">
    <meta name="keywords" content="dicionário, Português">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <a href="/">
        <h1>Dicionário em-linha de Português</h1>
    </a>
    
    {{{body}}}

</body>
</html>
