<div class="no-word-def-page">
  <p>
    Palavra: <input id="palavraInput" type="text" size="12"  value="">
    <button id="buttonVer">Ver</button>
  </p>
  <p>Para pesquisar a palavra basta aceder a <b>{{{host}}}/palavra</b></p>
</div>

<script>
  document.getElementById('buttonVer').onclick = function(e){
    window.location.href = '/' + document.getElementById('palavraInput').value;
  }
  document.getElementById('palavraInput').onkeypress = function(e){
      if (!e) e = window.event;
      var keyCode = e.keyCode || e.which;
      if (keyCode == '13'){
        // Enter pressed
        window.location.href = '/' + document.getElementById('palavraInput').value
        return false;
      }
    }
</script>
