<a href="/" style="color: inherit;text-decoration: none;">
  <h1>Dicionário em-linha de Português</h1>
</a>
<i>Apenas a Definição da Palavra e nada mais</i>
<br><br>
<div>{{{priberam_content}}}</div>
<div>{{{infopedia_content}}}</div>
